.app__service-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

.app__service-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}