.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #033202ec;
    padding: 1rem 2rem;
    height: 100px;
}

.app__navbar-logo {
    padding: 2rem 4rem;
    display: flex;
    flex: 1;
    width: 100%;
}

.app__navbar-logo img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    outline: 2px solid var(--color-golden);
}

.app__navbar-logo p {
    margin-left: 1rem;
}

.app__navbar-logo .app__navbar__logo {
    display: flex;
    width: 50%;
    padding: 1.2rem;
    color: var(--color-golden);
    text-transform: uppercase;
    line-height: 1.45;
    letter-spacing: 0.6;
   
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.app__navbar-links a {
    font-size: 14;
    font-weight: 500;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    background-color: var(--color-yellow);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    transition: .5 ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen-links {
    list-style: none;
}

.app__navbar-smallscreen-links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family:  var(--font-base);
}

.app__navbar-smallscreen-links li:hover {
    color: var(--color-white);
}


@media screen and (min-width: 2560px) {
    .app__navbar {
        height: 170px;
        padding: 2rem 4rem;
    }

    .app__navbar-logo {
        padding: 2rem 5rem;
    }

    .app__navbar-logo p{
        /* padding: 2rem 5rem; */
    }

    .app__navbar-logo img {
        position: absolute;
        top: 20px;
        left: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-logo {
        padding: 2rem 4rem;
        display: flex;
        flex: 1;
        width: 100%;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        width: 100%;
        padding: 1rem;
    }
    .app__navbar-logo {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 2rem 3rem;
    }

    .app__navbar-logo img {
        position: absolute;
        top:24px;
        left: 5px;
        width: 65px;
        height: 65px;
    }

    .app__navbar-logo p{
       font-size: 1.2rem;
    }
}

    