.carousel-container {
    width: 100%;
    max-height: 70vh;
}

.app__header {
   background-color: var(--color-white);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.custom__button:hover {
    background-color: var(--color-crimson);
    color: #fff;
}

.app__header-img {
    width: 80%;
}

@media screen and (max-width: 650px) {
    .carousel-container {
        max-height:30vh ;
    }
 .app__header-h1 {
        line-height: 1.1;
        font-size: 2.5rem;
        justify-content: center;
        padding: 1rem 0.6rem;
        font-weight: bold;
    }
}



